/* navbar */
.btn-primary {
    background: #7839f3;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background: #31b380;
    color: #fff;
}

.user-photo {
    width: 15%;
}

/* end navbar */

/* div#article-content {
    height: 100vh;
    display: flex;
} */
